#name{
	display: block;
}

#comp{
	display: block;
}

#adress{
	display: block;
}

#postal{
	display: block;
}

#city{
	display: block;
}

#phone{
	display: block;
}

#mail{
	display: block;
}

#colorpicker{
	display: block;
}

#enter{
	display: block;
}

#grade{
	display: block;
}
